# --- NEXT.JS ---
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# --- CAPACITOR ---
/.ionic/
capacitor.config.json.backup

# --- ANDROID BUILD (PENTING) ---
android/.gradle/
android/local.properties
android/.idea/
android/app/build/
android/build/
android/caches/
android/gradle/
android/.DS_Store
android/app/.DS_Store
*.keystore

# Android Studio
android/.settings/
android/.project
android/.classpath
android/.kotlinc/
android/.externalNativeBuild/
android/.cxx/

# macOS junk
.DS_Store

# --- OPTIONAL ---
# Kalau kamu tidak ingin commit file web export
public/build/
android/app/release-key.jks
