@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accentColor: #2c75ff; 
}

h1 {
  font-size: 24px;
}

/* p{
  font-size: 14px;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, inter, sans-serif;
}
