@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accentColor: #2a01ff; 
  /* --accentColor: #3b82f6;  */
}

::-webkit-scrollbar{
  height: 0px;
  width: 0px;
}

h1,h2,h3,h4,h5,h6 {
  user-select: none;
} 

p {
  user-select: none;
}


/* CAROUSEL */
.custom-pagination .swiper-pagination-bullet {
  margin: 0 0px !important;
  width: 16px !important;
  height: 4px !important;
  border-radius: 8px !important;
  background: oklch(66.41% 0.00116 13.594) !important;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 32px !important;
  background: oklch(70.9% 0.01 56.259) !important;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, inter, sans-serif;
}
